* {
  margin: 0;
  padding: 0;
}

body{
background-image: url(./images/background.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed; 
 background-size: 100% 100%;
}
.navbar {
  background-color: #242424;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #00384e;
}
#au{
   color: aliceblue;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
   text-decoration: none;
   font-size: xx-large;

}
#cre{
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: xx-large;
}
#New{
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: xx-large;
}