* {
  margin: 0;
  padding: 0;
  
}
a{
  text-decoration: none;
  color: white;
}
body {
  background-image: url(/images/spacetakova.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  font-family: pixelFont;
}

header {
  background-color: #242424;
  position: fixed;
  top: 0;
  width: 100%;
}

.starlight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.starlight h1 {
  font-style: italic;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.starlight p {
  font-style: italic;
  font-size: 35px;
  line-height: 1.4;
}

.button-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}


.colorW{
  text-decoration: none;
  color: white;
}
.button-link {
  text-decoration: none;
}

.button:hover {
  color: grey;
  border-color: grey;
}

@media only screen and (max-width: 600px) {
  .starlight h1 {
      font-size: 36px;
  }

  .starlight p {
      font-size: 24px;
  }

  .button-container {
      bottom: 20%;
  }
}
/*all page code*/
.pixelFont{
  font-family: vcr osd mono;
}
.navbarus{
  font-size: 1.7em;
}
.welcome {
  margin: 15vw auto;
  text-align: center;
  padding-bottom: 2em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  background-color: rgba(124, 121, 121, 0);
  border-radius: 6%;
}
.welcome h1{
  padding: 4vh 4vh 2vh 4vh;
  font-size: 3em;
  font: bold;
}
.welcome p{
  font-size: 1.3em;
  padding: 0vh 4vh 4vh 4vh;
}
.buttonus{
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  font-weight: 1000;
  transition:0.5s;
  display: block;
  margin-top: 5vh;
}
.buttonus:hover{
  text-decoration: none;
  color: rgb(138, 138, 138);
  transition:0.5s;
  font-weight: 1000;
}
.ani2{
  animation: trans2 3s linear ;
}
.ani1{
  animation: trans1 3s linear;
}
.ani3{
  animation: trans2 3s linear;
}
@keyframes trans1 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes trans2 {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/*about us*/
.cardAU {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.cardAU img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}
.formus{
  width: 50%;
  margin: 40px auto;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color:white;
}
.formus input  {
  width: 90%;
  color: black;
}
/*
@media (max-width: 767px) {
  .card-container {
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }
  .card {
    width: 100%;
  }
}*/
/*Products*/
.cardP1-1{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.cardP1-2 {
  border: 1px solid #ccc;
  
  width: 100%;
  border-radius: 5px;
  text-align: center;
}
.cardP3-1 {
  width: 100%;
  border-radius: 5px;
  text-align: center;
}



