@font-face {
  font-family: "Spacetext";
  src: url(./Fonts/BebasNeue-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
}

body{
background-image: url(./images/background.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed; 
 background-size: 100% 100%;
}
.navbar {
  background-color: #242424;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #00384e;
}
#au{
   color: aliceblue;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
   text-decoration: none;
   font-size: xx-large;

}
#cre{
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: xx-large;
}
#New{
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: xx-large;
}
.starlight {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: monospace;
}

.starlight h1 {
  font-style: italic;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 16px;
  font-family: monospace;
}

.starlight p {
  font-style: italic;
  font-size: 35px;
  line-height: 1.4;
  font-family: monospace;
  font-family: space;
}
.button-container {
  position: fixed;
  bottom: 280px;
  right: 400px;
}

.button {
  border: 4px solid white;
  background-color: transparent;
  color: white;
  padding: 12px 44px;
  border-radius: 10px;
  font-size: 18px; 
  transform: skewX(-20deg);
  cursor: pointer;
  transition: color 0.01s, border-color 0.01s;
}

.button-link {
  text-decoration: none;
}

.button:hover {
  color: grey;
  border-color: grey;
}