/*all page code*/
* {
  margin: 0;
  padding: 0;
  
}
@media (max-width: 1199px) {
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 2.5em;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .collapse.in{
      display:block !important;
  }
  .nav{
      font-size: 1.2em !important;
  }
}
a{
  text-decoration: none;
  color: white;
}
.backgroundAll {
  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.nav a{
  font-size: 1.63em;
  margin-left: 0.15em;
  margin-right: 0.15em;
}
body {
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  font-family: pixelFont;
}
.colorW{
  text-decoration: none;
  color: white;
}
.pixelFont{
  font-family: vcr osd mono;
}

/*Main Page*/
.welcome {
  margin-top: 14em;
  text-align: center;
  padding-bottom: 2em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  background-color: rgba(124, 121, 121, 0);
  border-radius: 6%;
}
.welcome h1{
  padding: 4vh 4vh 2vh 4vh;
  font-size: 3em;
  font: bold;
}
.welcome p{
  font-size: 1.3em;
  padding: 0vh 4vh 4vh 4vh;
}
.buttonus{
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  font-weight: 1000;
  transition:0.5s;
  display: block;
  margin-top: 5vh;
}
.buttonus:hover{
  text-decoration: none;
  color: rgb(138, 138, 138);
  transition:0.5s;
  font-weight: 1000;
}

.ani2{
  animation: trans2 3s linear ;
}
.ani1{
  animation: trans1 3s linear;
}
.ani3{
  animation: trans2 3s linear;
}
@keyframes trans1 { /*animation*/
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes trans2 { /*animation*/
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/*Credits*/
.cardC {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.cardC img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}
.formus{
  width: 50%;
  margin: 40px auto;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color:white;
}
@media (max-width: 1199px) {
  .formus{
    width: 75%;
  }
}
.formus input  {
  width: 90%;
  color: black;
}
.aniC1{
  animation: trans3 1s linear;
}
@keyframes trans3 { /*animation*/
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.aniC2{
  animation: trans3 1.5s linear;
}
@keyframes trans3 { /*animation*/
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.aniC3{
  animation: trans3 2s linear;
}
@keyframes trans3 { /*animation*/
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.aniC4{
  animation: trans3 2.5s linear;
}
@keyframes trans3 { /*animation*/
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.aniC5{
  animation: trans3 3s linear;
}
@keyframes trans3 { /*animation*/
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/*Our mission*/
.cardP1-1{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.cardP1-2 {
  border: 1px solid #ccc;
  
  width: 100%;
  border-radius: 5px;
  text-align: center;
}
.cardP3-1 {
  width: 100%;
  border-radius: 5px;
  text-align: center;
}
/*Mission Status*/
.creditTable{
  
  margin-top: 25vh;
  margin-bottom: 1.5em;
  
}
.creditTable td{
  
  text-align: center;
  vertical-align: middle !important; /*important is used to override bootstraps code since its more powefull for some reason*/
  font-size: 2em
}
.ani4{
  animation: trans3 1.5s linear;
}
@keyframes trans3 { /*animation*/
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*news*/
.date {
  border: 1px solid #ccc;
  text-align: center;
}
.news {
  border: 1px solid #ccc;
  border-radius: 5px ; 
  text-align: center;
}





